*, *:before, *:after {
  box-sizing: content-box;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 14px;
  margin: 0;
  background: #0079be;
}
header {
  background: #0067a3;
  padding: 0.5rem 0;
}
.logo {
  font-size: 1.5em;
  color: #7db3d2;
  text-align: center;
  margin: 0;
}
.logo:hover {
  color: white;
  cursor: pointer;
}
main {
  padding: 20px 16px;
}
.column {
  background: #ebecf0;
  width: 270px;
  border-radius: 3px;
  padding: 10px;
}
.column h3 {
  color: #172b4d;
  margin: 0 0 10px 0;
}
.add-card {
  color: #5e6c84;
  margin: 10px 0 0 0;
}
.add-card:hover {
  cursor: pointer;
}
.card {
  min-height: 30px;
  background: white;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  color: #172b4d;
  margin: 0;
}
.card-desc {
  display: none;
  color: #666;
  padding-top: 8px;
}
.icon-edit {
  width: 24px;
  height: 24px;
}
.icon-caret {
  width: 20px;
  height: 20px;
}
.icon-edit:hover, .icon-caret:hover {
  cursor: pointer;
}
.rotate {
  transform: rotate(180deg) translateY(3px);
}
.show {
  display: block;
}

